
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0; 
  color : #939393 ;
}

.container {
  background-color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Gloock', serif;
  color: #5a5a5a ;
}

/*
 ==COLORS== 
primary #2683e1
secondary #9596ef
lgrey #f0f0f0
mgrey #939393
hgrey #5a5a5a
warning #f2a228
danger #f9563f
success #9ae68f
info #8fb7e6

*/